Repository SoySoySoyB/trocco-self-hosted-runner-sample: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, gofmt, terraform_fmt

prettier:
  name: prettier
  entry: npx prettier --write
  language: system

gofmt:
  name: gofmt
  entry: gofmt -w
  language: system

terraform_fmt:
  name: terraform_fmt
  entry: terraform fmt
  language: system

解説記事のリンクを追加
  README.md
Due: prettier

OCI Container Instancesのサービス名を修正
  README.md
Due: prettier

docker-composeのイメージURLを修正
  docker-compose/docker-compose.yaml
Due: prettier

Cloud Run JobsにONESHOTモードの環境変数を追加
  google_cloud/main.tf
Due: terraform_fmt

podman-composeでの設定を追加
  podman-compose/Makefile
  podman-compose/README.md
  podman-compose/podman-compose.yaml
Due: prettier

Azureの設定項目を調整
  azure/README.md
  azure/main.tf
Due: prettier, terraform_fmt

Path conditions:
  prettier: any of: \.(js|ts|jsx|tsx|html|htm|xml|svg|css|scss|md|json|jsonc|yaml|yml|toml)$
  gofmt: any of: \.go$
  terraform_fmt: any of: \.tf$
